.owl-nav .fa {
    line-height: 80px;
}

#h3-main-nav {
    background: rgba(255,255,255,0.5);
}

.sh-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.mf-ok-text {
    color: green;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.search-page-wrap a:hover {
    color: #20203F;
}

#tab-list-block {
    margin-bottom: 30px;
}

.job-card {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    height: 249px;
    position: relative;
    display: block;
}

.job-card:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10) !important;
}

.job-card:hover .job-card__more span {
    color: #168a9c;
}

.job-card__text {
    padding: 30px 30px 40px;
}

.job-card__title {
    font-weight: 600;
    color: #20203F;
    font-size: 20px;
    margin-bottom: 10px;
}

.job-card__more {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.job-card__more__wrap {
    padding: 0 30px 20px;
    display: inline-block;
}

.job-card__more span {
    color: #20203F;
    font-weight: 400;
}

.job-card__more span:after {
    content: "\00a0→";
    font-family: Arial,Helvetica,sans-serif;
}

.job-card__desc {
    font-size: 14px;
    color: #20203F;
}

.jobs-block {
    margin-bottom: 30px;
}

.download-video {
    margin-top: 10px;
}

.download-video a {
     font-size: 14px;
     color: #20203F;
 }

.news-cat-link.selected a {
    font-weight: 600;
}